<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Подтверждение регистрации в reCheck</title>
  <style>
    :root {
      width: 100%;
      height: 100%;
      font-size: 100%;
    }

    body {
      width: 100%;
      font-size: 16px;
      height: 100%;
    }

    .main-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .logo-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
    }

    .title-wrapper,
    .content-wrapper {
      width: 50%;
    }

    .text-wrapper {
      display: flex;
    }

    .text {
      font-family: sans-serif;
    }

    .unselectable {
      user-select: none;
    }

    .text--enlarged-x2 {
      font-size: 2rem;
    }

    .text--enlarged-x1_4 {
      font-size: 1.4rem;
    }

    .text--bold {
      font-weight: bold;
    }

    .text--green {
      color: #33c7ba;
    }

    .text--blue {
      color: #4f69ca;
    }

    .logo {
      width: 70px;
    }

    .top-space-wrapper {
      margin-top: 2rem;
    }

    .activator {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: fit-content;
      text-decoration: none;
      box-sizing: border-box;
      padding: .8rem 2rem .8rem 2rem;
      background-color: #33c7ba;
      border-radius: .4rem;
      font-family: sans-serif;
      font-weight: 600;
      color: white;
      user-select: contain;
    }

    .activator:hover {
      background-color: #4ec7bd;
    }

    .activator:active {
      background-color: #27a399;
    }

    .link-as-content {
      color: #4f82d9;
      text-decoration: underline;
      text-decoration-color: #4f82d9;
    }
  </style>
</head>

<body>
  <div class="main-wrapper">
    <div class="logo-wrapper title-wrapper">
      <img src="https://i.imgur.com/QYsGlCK.png" alt="">
      &nbsp;&nbsp;&nbsp;
      <span class="text-wrapper text text--enlarged-x2 unselectable">
        <span class="text--blue">re</span>
        <span class="text--green">Check</span>
      </span>
    </div>

    <div class="content-wrapper">
      <p class="text text--bold text--enlarged-x1_4 unselectable">Подтвердите ваше место работы</p>
      <p class="text unselectable">Вы в одном шаге от подтверждения аккаунта.</p>
      <div class="top-space-wrapper">
        <a draggable="false" class="activator unselectable" href="{{ origin }}/register/complete/{{ uuid }}">
          Активировать мой аккаунт
        </a>
      </div>
      <div class="top-space-wrapper">
        <p class="text unselectable">Кнопка не работает? Просто скопируйте ссылку в окно вашего браузера:</p>
      </div>
      <div class="top-space-wrapper">
        <a class="link-as-content text" href="{{ origin }}/register/complete/{{ uuid }}">
          {{ origin }}/register/complete/{{ uuid }}
        </a>
      </div>
      <div class="top-space-wrapper">
        <p class="text unselectable">С уважением, команда reCheck.</p>
      </div>
    </div>
  </div>
</body>

</html>
