<!DOCTYPE html>
<html lang="ru"
  style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Подтверждение регистрации в reCheck</title>
</head>

<body
  style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;vertical-align:baseline;line-height:1;width:100%;font-size:16px;height:100%;">
  <div class="main-wrapper"
    style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;height:100%;display:table;">
    <div class="logo-wrapper title-wrapper"
      style="margin-top:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;display:flex;align-items:center;width:50%;margin-bottom:1rem;">
      <img src="https://i.imgur.com/QYsGlCK.png" alt=""
        style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;">
      &nbsp;&nbsp;&nbsp;
      <span class="text-wrapper text text--enlarged-x2 unselectable"
        style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;vertical-align:baseline;display:flex;align-items:center;font-family:sans-serif;user-select:none;font-size:2rem;">
        <span class="text--blue"
          style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;color:#4f69ca;">re</span>
        <span class="text--green"
          style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;color:#33c7ba;">Check</span>
      </span>
    </div>

    <div class="content-wrapper"
      style="margin-top:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;width:50%;margin-bottom:1rem;">
      <p class="text text--bold text--enlarged-x1_4 unselectable"
        style="margin-top:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-style:normal;font-variant:normal;line-height:normal;vertical-align:baseline;font-family:sans-serif;user-select:none;font-size:1.4rem;margin-bottom:1rem;font-weight:bold;">
        Подтвердите ваше место работы</p>
      <p class="text unselectable"
        style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;vertical-align:baseline;font-family:sans-serif;user-select:none;">
        Вы в одном шаге от подтверждения аккаунта.</p>
      <div class="top-space-wrapper"
        style="margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;margin-top:2rem;">
        <a draggable="false" class="activator unselectable" href="{{ origin }}/register/complete/{{ uuid }}"
          style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;line-height:normal;vertical-align:baseline;display:flex;justify-content:center;align-items:center;width:fit-content;height:fit-content;text-decoration:none;box-sizing:border-box;padding-top:.8rem;padding-bottom:.8rem;padding-right:2rem;padding-left:2rem;background-color:#33c7ba;border-radius:.4rem;font-family:sans-serif;font-weight:600;color:white;user-select:contain;">
          Активировать мой аккаунт
        </a>
      </div>
      <div class="top-space-wrapper"
        style="margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;margin-top:2rem;">
        <p class="text unselectable"
          style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;vertical-align:baseline;font-family:sans-serif;user-select:none;">
          Кнопка не работает? Просто скопируйте ссылку в окно вашего браузера:</p>
      </div>
      <div class="top-space-wrapper"
        style="margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;margin-top:2rem;">
        <a class="link-as-content text" href="{{ origin }}/register/complete/{{ uuid }}"
          style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;vertical-align:baseline;font-family:sans-serif;color:#4f82d9;text-decoration:underline;text-decoration-color:#4f82d9;">
          {{ origin }}/register/complete/{{ uuid }}
        </a>
      </div>
      <div class="top-space-wrapper"
        style="margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;font-family:inherit;line-height:normal;vertical-align:baseline;margin-top:2rem;">
        <p class="text unselectable"
          style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-width:0;font-size:inherit;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;vertical-align:baseline;font-family:sans-serif;user-select:none;">
          С уважением, команда reCheck.</p>
      </div>
    </div>
  </div>
</body>

</html>
